---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DRA">
	<p class="paragraph">
		Группа <span class="brand">&laquo;Путь Домой&raquo;</span> ориентирована на&nbsp;зависимых людей с&nbsp;диагнозами:
		<br />
		<ul>
			<li>БАР</li>
			<li>ШАР</li>
			<li>ПРЛ</li>
			<li>шизофрения</li>
			<li>другие психоэмоциональные расстройства</li>
		</ul>
		<br />
	</p>

	<p class="paragraph">
		Многие люди с двойным диагнозом смогли успешно работать по программе 12 Шагов, 
		что значительно помогло их выздоровлению.
	</p>
	<p class="paragraph">	
		В АА есть люди, достигшие душевного покоя и выздоровления 
		с дополнительной помощью психологов, психиатров, а также медикаментов.
		Зависимые с двойным расстройством выздоравливают!
	</p>
</Layout>

<style></style>
